.container-activity {
    width: 835px;
    height: 320px;
    border-radius: 5px;
    margin-bottom: 28px;
    background-color: #FBFBFB;
}

.title-graph-activity {
    width: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #20253A;
    text-align: start;
    margin: 0;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 32px;
    position: absolute;
}

/* graphisme info bulle */
.custom-tooltip-BarChart {
    width: 39px;
    height: 63px;
    background-color: #E60000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin: 7px;
}

/* graphisme info bulle texte du poids */
.label1 {
    margin: 0;
    margin-bottom: 10px;
}

/* graphisme info bulle texte des calories */
.label2 {
    margin: 0;
    margin-top: 10px;
}

.text-legend {
    color: #74798C;
    font-size: 14px;
}