.container-header {
    border: 2px solid red;
    width: 100%;
    height: 91px;  
    background-color: #020203;
    display: flex;
    align-items: center;  
}

.logo-header{
    border: 1px solid green;
    width:178px;
    height: 60.93px;
    margin-left: 28px;
}

nav{
    width: 100%;
}

.nav-header{
    border: 1px solid yellow;   
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-text{
    color: white;
    font-family : 'Roboto', sans-serif ;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid blue;
    padding: 5px;
}

.border a:hover {
    border-bottom: 2px solid white;
}