.container-home-page {
    border: 4px solid blue;
    width: 1126px;
    height: 779px;
    background-color: #E5E5E5;
}

.box-title{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.title {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    border: 1px solid blue;
    width: 80%;
    text-align: start;
    margin: 0;
    margin-bottom: 41px; 
}

.firstName{
    color: red;
}

.subtitle {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: 1px solid blue;
    width: 80%;
    font-weight: 400;
    text-align: start;
    margin: 0;
}