.container-radar {
    width: 258px;
    height: 263px;
    border-radius: 5px;   
    background-color: #282D30;
}

/* suppression ligne a l'interieur du radar  */
.recharts-polar-grid-angle line {
    stroke: none;
}
